@tailwind base;

@layer base {
  :root {
    --black-500: #212121;
    --black: #424242;
    --black-200: #616161;

    --white: #f8f8f8;
    --primary: #ffc9c9;
  }

  body {
    @apply text-black bg-white font-sans font-medium text-base sm:text-lg;

    // Usually the root __nuxt node
    > div {
    }
  }

  main {
    min-height: 70vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7 {
    @apply font-serif font-semibold;
  }

  h1 {
    @apply text-4xl font-bold;
  }
}

@tailwind components;

@layer components {
  .max-width {
    max-width: 55rem;
    @apply px-4 mx-auto;
  }

  .border-item {
    @apply border border-black rounded-sm;
  }

  .divider {
    @apply h-[1px] sm:h-0.5 bg-black w-full;
  }

  .bnw {
    filter: grayscale(100%);
  }

  .desktop-only {
    @apply hidden sm:block;
  }

  .mobile-only {
    @apply sm:hidden;
  }
}

@tailwind utilities;
